---
import Section from "@/components/Section.astro";

import { basics } from "@cv";
import { isRenderTemplateResult } from "astro/runtime/server/render/astro/render-template.js";
const { summary } = basics;
---

<Section tittle="About">
  {
    summary.split("\n").map((line, index) => {
      return(
      <p>
        {line}
        <br/>
        <br/>

      </p>
      )})
  }
</Section>
