<div class="no-print">
  <span>
    <p>
      cv landing page based on - <a
        href="https://github.com/BartoszJarocki/cv.git">Bartosz Jarochi's</a
      > design
    </p></span
  >
</div>

<style>
  span {
    display: flex;
    justify-content: center;
  }

  p {
    font-size: 0.7rem;
    color: #666;
  }

  a {
    color: #666;
    text-emphasis: none;
    text-decoration: underline;
  }

  div {
    margin-top: 2rem;
  }

  @media print {
    .no-print {
      display: none !important;
    }
  }
</style>
